<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>S</b>P</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Swastika</b> Portal</span>
        </a>

        <!-- Header Navbar -->
        <header-navbar></header-navbar>

    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <main-sidebar></main-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                @ViewData["Title"]
                <small>@ViewData["Description"]</small>
            </h1>
            <!--@await Component.InvokeAsync(typeof(Swastika.Web.Start.Areas.Portal.ViewComponents.Breadcrumbs))-->
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <router-outlet></router-outlet>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <!--@await Component.InvokeAsync(typeof(Swastika.Web.Start.Areas.Portal.ViewComponents.MainFooter))-->

    <!-- Control Sidebar -->
    <!--@await Component.InvokeAsync(typeof(Swastika.Web.Start.Areas.Portal.ViewComponents.ControlSidebar))-->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>